:root {
  --bg-main: #ffffff;
  --bg-glass: #ffffff20;
  --button-second: #f5f5f5;
  --button-second-border: #c5c5c5;
  --button-tertiary-border: #dddddd;
  --text-sigma: black;
  --text-bright-text: #5c5c5c;
  --text-brighter-text: #8f8f8f;
  --text-highlight-text: #4f4f4f;
  --modal-backdrop: rgba(216, 216, 216, 0.313);
  --accent-color-100: rgb(107, 215, 147);
  --accent-color-60: rgba(107, 215, 147, 0.6);
  --accent-color-80: rgba(107, 215, 147, 0.8);
  --accent-color-40: rgba(107, 215, 147, 0.4);
  --accent-color-20: rgba(107, 215, 147, 0.2);
  --accent-color-10: rgba(107, 215, 147, 0.1);
  --light-bleed: var(--bg-main);
  --card-color: var(--bg-main);
  --fun-color1: #ffa023;
  --fun-color2: #c5e546;
  --fun-color3: #8bd8f6;
  --Theme-changing-button: "./Assets/Images/Theme-Dark.svg";
  --border-radius-small: 7px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;
}

[data-theme="dark"] {
  --bg-main: #1b1e2b;
  --bg-glass: #33385135;
  --button-second: #292d3e;
  --button-second-border: #434860;
  --button-tertiary-border: #434860;
  --text-sigma: #d4d4d4;
  --text-bright-text: #b2b6cd;
  --text-brighter-text: #898c9d;
  --text-highlight-text: #bdbdbd;
  --modal-backdrop: hsla(229, 23%, 14%, 0.5);
  --accent-color-100: rgb(132, 98, 241);
  --accent-color-60: rgba(132, 98, 241, 0.6);
  --accent-color-80: rgba(132, 98, 241, 0.8);
  --accent-color-40: rgba(132, 98, 241, 0.4);
  --accent-color-20: rgba(132, 98, 241, 0.2);
  --accent-color-10: rgba(132, 98, 241, 0.1);
  --light-bleed: #6f63a517;
  --card-color: #1b1e2b;
  --fun-color1: #91d1c0;
  --fun-color2: #5b61ff;
  --fun-color3: #9e59ff;
  --Theme-changing-button: "./Assets/Images/Theme-Light.svg";
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-sigma);
  background-image: url("https://raw.githubusercontent.com/Abedeen25/Assets/refs/heads/main/icons/BG.png");
  background-size: 15px;
}

.app-container {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
}

.content {
  margin: 0.5em;
  background-color: var(--bg-glass);
  border-radius: 1em;
  padding: 1em;
  flex: 1;
  backdrop-filter: blur(5px);
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--bg-glass);
  border-right: 1px solid var(--accent-color-20);
  backdrop-filter: blur(3px);
  border-radius: 0.5em;

  position: sticky;
  top: 0;
  align-self: start;
}

#sidebar ul {
  list-style: none;
  padding-left: 0;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-brighter-text);
}

#sidebar a span {
  flex-grow: 1;
}

#sidebar a:hover {
  background-color: var(--accent-color-40);
  border: 1px;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  .main-logo {
    .Hero-icon {
      width: 4em;
      height: 4em;
      flex: auto;
      path {
        fill: var(--text-bright-text);
      }
    }
  }
}
#sidebar ul li.active a {
  color: var(--text-sigma);
  svg {
    fill: var(--text-sigma);
  }
}

#sidebar a,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-brighter-text);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dashboard {
  height: 200vh;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  .sidebar {
    transform: translateX(-100%);
    width: 80%;
    max-width: 300px;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }
}
